<div class="career-banner"  style="background-image:url({{section.settings.banner-bg-img| img_url: 'master'}});   ">
  <div class="banner-text">
 <h1>{{ section.settings.banner-heading}}</h1>
  </div>
</div>


{% schema %}
  {
    "name": "Career_Banner",
    "settings": [

              {
                "type":"image_picker",
                "id":"banner-bg-img",
                "label":"banner-bg-imgs"
             },

           {
              "type":"text",
               "id":"banner-heading",
               "label":"banner-Headings"
            }
      
    ],
     "presets": [
    {
      "name": "Career_Banner",
      "category": "Custom"
    }
  ]
  }
{% endschema %}

