
  <div class="Cent-text">
{{ section.settings.Cent-text}}
  </div>



{% schema %}
  {
    "name": "Cent-txt",
    "settings": [


             {
              "type":"richtext",
               "id":"Cent-text",
               "label":"Cent-texts"
            }
      
    ]
  }
{% endschema %}

