
  <div class="main-text">
{{ section.settings.para-text}}
  </div>



{% schema %}
  {
    "name": "Text_Section",
    "settings": [


             {
              "type":"richtext",
               "id":"para-text",
               "label":"para-texts"
            }
      
    ]
  }
{% endschema %}

